html, body{
    margin: 0;
    padding: 0;
    background-color: rgb(37, 20, 77);
    text-align: center;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(241, 234, 234);
    scroll-behavior: smooth;
}

.container {
    margin-inline: 25px;
}