html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;

  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}

#carouselExampleControls {
  max-width: 800px; /* Ancho máximo del carrusel */
  height: 400px; /* Altura fija */
  margin: auto; /* Centra el carrusel */
}

#carouselExampleControls img {
  max-width: 100%;
  max-height: 400px;  /* Altura máxima ajustable */
  width: 100%; /* Las imágenes ocupan todo el ancho del carrusel */
  height: 100%; /* Mantiene la proporción */
  display: block;
  object-fit: contain; /* Si quieres que rellene y recorte imágenes */
}
